<div class="row">
  <div class="col">
    <input
      type='text'
      class="form-control"
      placeholder='Type to filter the users list...'
      (keyup)='updateFilter($event)'/>
  </div>
  <div class="col text-right">
    <button type="button" class="btn btn-outline-primary" routerLink="/users/new">Create new</button>
  </div>
</div>
<br />
<ngx-datatable
  class="material"
  #table
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [rowHeight]="'auto'"
  [limit]="5"
  [footerHeight]="100"
  [headerHeight]="50"
  [loadingIndicator]="loadingIndicator">
  <ngx-datatable-column name="First Name"></ngx-datatable-column>
  <ngx-datatable-column name="Last Name"></ngx-datatable-column>
  <ngx-datatable-column name="Email"></ngx-datatable-column>
  <ngx-datatable-column name="Occupation"></ngx-datatable-column>
  <ngx-datatable-column name="Date of birth">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{value | date: 'dd-MM-yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" sortable="false" prop="_id">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/users/', value, 'edit']">Edit</button>
      <button type="button" class="btn btn-outline-danger ml-1" (click)="removeUser(value)">Remove</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
